.header {
  width: 100%;
}

.header .header-info {
  display: flex;
}

.header .header-info-user {
  margin: 10px 0px 0px;
}

.header p {
  font-size: 15px;
  margin-bottom: 0px;
}

.header .header-info-img {
  margin: 10px;
}

.header-add-img .btn-img-user-right {
  padding: 5px;
}

.header-add-img .btn-img-user-right:hover {
  background-color: #0B5ED7;
  cursor: pointer;
  border-radius: 50%;
}

.header-add-img .btn-create-exam {
  margin-right: 10px;
}

.header-add-img .header-title-create {
  margin-left: 10px;
}

.header .header-search {
  position: relative;
}

.header .header-search .header-search-input {
  padding: 10px 0px 10px 35px;
}

.header-search .icon-search {
  position: absolute;
  left: 20px;
  top: 16px;
  transform: translate(-50%);
  color: #7a7a7a;
}

.inner-header {
  position: sticky; /* Giữ header cố định khi cuộn */
  top: 0;
  width: 100%;
  z-index: 100; /* Đảm bảo header nằm trên các phần tử khác */
  transition: top 0.3s ease-in-out; 
}
