@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.inner-sidebar {
  position: fixed;
}

.logo {
  margin: 0px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: black;
  line-height: 1.5;
}

.menu-bar {
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
}

.navbar .navbar-item {
  color: #484848;
  padding: 12px 0px;
  width: 100%;
}

.navbar .navbar-item:hover {
  color: #3E65FE;
  background-color: #EDF2FF;
  border-radius: 20px;
}

.navbar .navbar-item .nav-icon {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.label-answer {
  padding-left: 10px;
}

.btn-add-answer {
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #81FFC8;
  box-shadow: #484848;
}

.btn-save {
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #4E61FF;
  color: #EDF2FF;
}

.btn-stt-questions {
  padding: 8px 10px;
  border-radius: 3px;
  width: 40px;
  color: #fff;
  background-color: #3E65FE;
  margin: 5px;
}

/* List Exam */

.header-search-exam {
  position: relative;
}

.main-list-exam .header-search-exam .header-search-input {
  padding-left: 40px;
  width: 300px;
}

.header-search-exam .icon-search {
  position: absolute;
  font-size: 18px;
  left: 20px;
  top: 13px;
  transform: translate(-50%);
}

.count-exam {
  margin: 8px 30px 8px 10px;
  font-size: 18px;
  color: #000;
}

/* list exam */
.item-exam {
  margin: 20px;
}

.item-exam .item-exam-img {
  height: 150px;
}

.item-exam .item-exam-title {
  font-size: 18px;
  font-weight: 400;
}

.item-exam .item-exam-create,.item-exam-icon {
  margin-right: 10px;
}

.item-exam .item-exam-icon {
  cursor: pointer;
  font-size: 18px;
}

/* button question when choice */
.btn-stt-questions {
  background-color: #1E90FF; /* Màu nền mặc định */
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-stt-questions:hover {
  background-color: #228B22; /* Màu hover */
}

.btn-selected {
  background-color: #228B22 !important; /* Màu xanh khi được chọn */
  color: white;
  font-weight: bold;
}
